<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.westudy.dao.IFriendsDao">
<!--    查询总列数-->
    <select id="getTotalPage" resultType="int">
        select count(*)
        from
             friends
    </select>
<!--    所有数据滚动加载-->
    <select id="getFriendInfo" resultType="Friends">
        select *
          from
            friends

        limit #{start},#{pageNum}
    </select>
    <select id="getHighScore" resultType="int">
        select count(score)
          from
            score
        limit 0,1


    </select>


</mapper>